body{
    margin: 0px;
    padding: 20px;
    background-color: tomato;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);/*dos coluumnas */
    gap: 20px;
}
.caja{
    background-color: greenyellow;
    padding: 40px;
    border-radius: 10px;
}
@media(max-width:600px){
    .contenedor{
        grid-template-columns: 1fr;/*una columna */
    }
}
@media (max-width:1024px)and (min-width:768px){
    .contenedor{
        grid-template-columns: repeat(3,1fr);
        background-color: blue;
    }
}
